// Default variables for Ext.grid.column.Column
$grid-header-border-color: dynamic($cm-spot-grey-2);
$grid-column-header-color: dynamic($cm-black);
$grid-column-header-font-weight: dynamic($cm-font-weight);
$grid-column-header-font-size: dynamic($cm-font-size);
$grid-column-header-focus-border-inset: dynamic(1px);
$grid-column-header-focus-border-color: dynamic($cm-grey-7);