@include cm-collaboration-icons-300-icon-rule($glyph: "control-room") {
  content: $cm-collaboration-icons-300-var-control-room;
};

@include cm-collaboration-icons-300-icon-rule($glyph: "spacer") {
  content: $cm-collaboration-icons-300-var-spacer;
};

@include cm-collaboration-icons-300-icon-rule($glyph: "start-localization-workflow") {
  content: $cm-collaboration-icons-300-var-start-localization-workflow;
};

@include cm-collaboration-icons-300-icon-rule($glyph: "start-publication-workflow") {
  content: $cm-collaboration-icons-300-var-start-publication-workflow;
};

@include cm-collaboration-icons-300-icon-rule($glyph: "start-translation-workflow") {
  content: $cm-collaboration-icons-300-var-start-translation-workflow;
};


