@font-face {
  font-family:"cm-collaboration-icons-300";
  src:url("#{$cm-collaboration-icons-300-font-path}/cm-collaboration-icons-300.eot?489473895af19f44725b20a2d0c459df");
  src:url("#{$cm-collaboration-icons-300-font-path}/cm-collaboration-icons-300.eot?#iefix") format("embedded-opentype"),
		url("#{$cm-collaboration-icons-300-font-path}/cm-collaboration-icons-300.woff?489473895af19f44725b20a2d0c459df") format("woff"),
		url("#{$cm-collaboration-icons-300-font-path}/cm-collaboration-icons-300.ttf?489473895af19f44725b20a2d0c459df") format("truetype");
  font-weight:normal;
  font-style:normal;
}
