/**
 * CoreMedia UI Mixin for a progress-bar.
 * Some parameters do not have a default value, so if omitted the styling rule is not applied.
 *
 * @param {string} $ui
 * The name of the UI being created. May not include spaces or special punctuation as string is used as part of
 * CSS class names.
 *
 * @param {color} [$color-error=$cm-font-light-coloured]
 * If not null defines the color to be applied when the error state is active.
 *
 * @param {color} [$background-color-error=$cm-validation-color-error]
 * If not null defines the background-color to be applied when the error state is active.
 *
 * @param {color} [$color-warning=$cm-font-light-coloured]
 * If not null defines the color to be applied when the warning state is active.
 *
 * @param {color} [$background-color-warning=$cm-validation-color-warning]
 * If not null defines the background-color to be applied when the warning state is active.
 *
 * @param {color} [$color-info=$cm-font-light-coloured]
 * If not null defines the color to be applied when the info state is active.
 *
 * @param {color} [$background-color-info=$cm-validation-color-info]
 * If not null defines the background-color to be applied when the info state is active.
 *
 * @param {color} [$color-success=$cm-font-light-coloured]
 * If not null defines the padding to be applied when the success state is active.
 *
 * @param {color} [$background-color-success=$cm-validation-color-success]
 * If not null defines the padding to be applied when the success state is active.
 *
 * @param {string} [$text-align=$cm-progress-bar-text-align]
 * If not null defines the text-align to be applied.
 *
 * @param {number|list} [$padding=$cm-progress-bar-padding]
 * If not null defines the padding to be applied.
 */
@mixin cm-progress-ui(
  $ui,
  // validation parameters:
  $color-error: $cm-font-light-coloured,
  $background-color-error: $cm-validation-color-error,
  $color-warning: $cm-font-light-coloured,
  $background-color-warning: $cm-validation-color-warning,
  $color-info: $cm-font-light-coloured,
  $background-color-info: $cm-validation-color-info,
  $color-success: $cm-font-light-coloured,
  $background-color-success: $cm-validation-color-success,
  $text-align: $cm-progress-bar-text-align,
  $padding: $cm-progress-bar-padding
) {
  // increased specificy as other states (pressed, menu-active) are not overridden otherwise
  .#{$prefix}progress-#{$ui} {

    .#{$prefix}progress-text {
      @if $padding != null {
        padding: $padding;
      }
    }

    $state-map: (
      "error" : (
        text-align: $text-align,
        color: $color-error,
        background-color: $background-color-error),
      "warning" : (
        text-align: $text-align,
        color: $color-warning,
        background-color: $background-color-warning),
      "info" : (
        text-align: $text-align,
        color: $color-info,
        background-color: $background-color-info),
      "success" : (
        text-align: $text-align,
        color: $color-success,
        background-color: $background-color-success)
    );

    @each $state, $map in $state-map {
      &.cm-validation-state-#{$state} {
        & .#{$prefix}progress-bar-#{$ui} {
          @if map_get($map, background-color) != null {
            background-color: map_get($map, background-color);
          }
          > .#{$prefix}progress-text {
            @if map_get($map, text-align) != null {
              text-align: map_get($map, text-align);
            }
            @if map_get($map, color) != null {
              color: map_get($map, color);
            }
          }
        }
      }
    }
  }
}