@font-face {
  font-family:"cm-core-icons-200";
  src:url("#{$cm-core-icons-200-font-path}/cm-core-icons-200.eot?33bf606612db1969737092426daa9c27");
  src:url("#{$cm-core-icons-200-font-path}/cm-core-icons-200.eot?#iefix") format("embedded-opentype"),
		url("#{$cm-core-icons-200-font-path}/cm-core-icons-200.woff?33bf606612db1969737092426daa9c27") format("woff"),
		url("#{$cm-core-icons-200-font-path}/cm-core-icons-200.ttf?33bf606612db1969737092426daa9c27") format("truetype");
  font-weight:normal;
  font-style:normal;
}
