@font-face {
  font-family:"cm-collaboration-icons-200";
  src:url("#{$cm-collaboration-icons-200-font-path}/cm-collaboration-icons-200.eot?4bd5604b5349c42a2390c273a9b8a5d8");
  src:url("#{$cm-collaboration-icons-200-font-path}/cm-collaboration-icons-200.eot?#iefix") format("embedded-opentype"),
		url("#{$cm-collaboration-icons-200-font-path}/cm-collaboration-icons-200.woff?4bd5604b5349c42a2390c273a9b8a5d8") format("woff"),
		url("#{$cm-collaboration-icons-200-font-path}/cm-collaboration-icons-200.ttf?4bd5604b5349c42a2390c273a9b8a5d8") format("truetype");
  font-weight:normal;
  font-style:normal;
}
