@include cm-core-icons-300-icon-rule($glyph: "ab-testing-tool") {
  content: $cm-core-icons-300-var-ab-testing-tool;
};

@include cm-core-icons-300-icon-rule($glyph: "abort-workflow") {
  content: $cm-core-icons-300-var-abort-workflow;
};

@include cm-core-icons-300-icon-rule($glyph: "add-catalog-entries-sku") {
  content: $cm-core-icons-300-var-add-catalog-entries-sku;
};

@include cm-core-icons-300-icon-rule($glyph: "add-catalog-entries") {
  content: $cm-core-icons-300-var-add-catalog-entries;
};

@include cm-core-icons-300-icon-rule($glyph: "add-external-link") {
  content: $cm-core-icons-300-var-add-external-link;
};

@include cm-core-icons-300-icon-rule($glyph: "add-hotzone") {
  content: $cm-core-icons-300-var-add-hotzone;
};

@include cm-core-icons-300-icon-rule($glyph: "add-internal-link") {
  content: $cm-core-icons-300-var-add-internal-link;
};

@include cm-core-icons-300-icon-rule($glyph: "add-item-to-property-list") {
  content: $cm-core-icons-300-var-add-item-to-property-list;
};

@include cm-core-icons-300-icon-rule($glyph: "add-link") {
  content: $cm-core-icons-300-var-add-link;
};

@include cm-core-icons-300-icon-rule($glyph: "add-people-to-shared-content-set") {
  content: $cm-core-icons-300-var-add-people-to-shared-content-set;
};

@include cm-core-icons-300-icon-rule($glyph: "add-setting") {
  content: $cm-core-icons-300-var-add-setting;
};

@include cm-core-icons-300-icon-rule($glyph: "add-tag") {
  content: $cm-core-icons-300-var-add-tag;
};

@include cm-core-icons-300-icon-rule($glyph: "add-template") {
  content: $cm-core-icons-300-var-add-template;
};

@include cm-core-icons-300-icon-rule($glyph: "add") {
  content: $cm-core-icons-300-var-add;
};

@include cm-core-icons-300-icon-rule($glyph: "align-bottom") {
  content: $cm-core-icons-300-var-align-bottom;
};

@include cm-core-icons-300-icon-rule($glyph: "align-center") {
  content: $cm-core-icons-300-var-align-center;
};

@include cm-core-icons-300-icon-rule($glyph: "align-default") {
  content: $cm-core-icons-300-var-align-default;
};

@include cm-core-icons-300-icon-rule($glyph: "align-justified") {
  content: $cm-core-icons-300-var-align-justified;
};

@include cm-core-icons-300-icon-rule($glyph: "align-left") {
  content: $cm-core-icons-300-var-align-left;
};

@include cm-core-icons-300-icon-rule($glyph: "align-middle") {
  content: $cm-core-icons-300-var-align-middle;
};

@include cm-core-icons-300-icon-rule($glyph: "align-right") {
  content: $cm-core-icons-300-var-align-right;
};

@include cm-core-icons-300-icon-rule($glyph: "align-top") {
  content: $cm-core-icons-300-var-align-top;
};

@include cm-core-icons-300-icon-rule($glyph: "allowed") {
  content: $cm-core-icons-300-var-allowed;
};

@include cm-core-icons-300-icon-rule($glyph: "approve-and-publish") {
  content: $cm-core-icons-300-var-approve-and-publish;
};

@include cm-core-icons-300-icon-rule($glyph: "approve") {
  content: $cm-core-icons-300-var-approve;
};

@include cm-core-icons-300-icon-rule($glyph: "apps") {
  content: $cm-core-icons-300-var-apps;
};

@include cm-core-icons-300-icon-rule($glyph: "arrow-down") {
  content: $cm-core-icons-300-var-arrow-down;
};

@include cm-core-icons-300-icon-rule($glyph: "arrow-left") {
  content: $cm-core-icons-300-var-arrow-left;
};

@include cm-core-icons-300-icon-rule($glyph: "arrow-right") {
  content: $cm-core-icons-300-var-arrow-right;
};

@include cm-core-icons-300-icon-rule($glyph: "arrow-up") {
  content: $cm-core-icons-300-var-arrow-up;
};

@include cm-core-icons-300-icon-rule($glyph: "arrows-down") {
  content: $cm-core-icons-300-var-arrows-down;
};

@include cm-core-icons-300-icon-rule($glyph: "arrows-left") {
  content: $cm-core-icons-300-var-arrows-left;
};

@include cm-core-icons-300-icon-rule($glyph: "arrows-right") {
  content: $cm-core-icons-300-var-arrows-right;
};

@include cm-core-icons-300-icon-rule($glyph: "arrows-up") {
  content: $cm-core-icons-300-var-arrows-up;
};

@include cm-core-icons-300-icon-rule($glyph: "asset") {
  content: $cm-core-icons-300-var-asset;
};

@include cm-core-icons-300-icon-rule($glyph: "augmentation") {
  content: $cm-core-icons-300-var-augmentation;
};

@include cm-core-icons-300-icon-rule($glyph: "autocorrect") {
  content: $cm-core-icons-300-var-autocorrect;
};

@include cm-core-icons-300-icon-rule($glyph: "backward") {
  content: $cm-core-icons-300-var-backward;
};

@include cm-core-icons-300-icon-rule($glyph: "badge-gif") {
  content: $cm-core-icons-300-var-badge-gif;
};

@include cm-core-icons-300-icon-rule($glyph: "blacklist") {
  content: $cm-core-icons-300-var-blacklist;
};

@include cm-core-icons-300-icon-rule($glyph: "broken-picture") {
  content: $cm-core-icons-300-var-broken-picture;
};

@include cm-core-icons-300-icon-rule($glyph: "bulleted-list") {
  content: $cm-core-icons-300-var-bulleted-list;
};

@include cm-core-icons-300-icon-rule($glyph: "bundle") {
  content: $cm-core-icons-300-var-bundle;
};

@include cm-core-icons-300-icon-rule($glyph: "calendar-picker") {
  content: $cm-core-icons-300-var-calendar-picker;
};

@include cm-core-icons-300-icon-rule($glyph: "calendar-show-week") {
  content: $cm-core-icons-300-var-calendar-show-week;
};

@include cm-core-icons-300-icon-rule($glyph: "canto-cumulus") {
  content: $cm-core-icons-300-var-canto-cumulus;
};

@include cm-core-icons-300-icon-rule($glyph: "catalog") {
  content: $cm-core-icons-300-var-catalog;
};

@include cm-core-icons-300-icon-rule($glyph: "celum") {
  content: $cm-core-icons-300-var-celum;
};

@include cm-core-icons-300-icon-rule($glyph: "change-text-background-color") {
  content: $cm-core-icons-300-var-change-text-background-color;
};

@include cm-core-icons-300-icon-rule($glyph: "change-text-color") {
  content: $cm-core-icons-300-var-change-text-color;
};

@include cm-core-icons-300-icon-rule($glyph: "channel-desktop") {
  content: $cm-core-icons-300-var-channel-desktop;
};

@include cm-core-icons-300-icon-rule($glyph: "channel-kiosk") {
  content: $cm-core-icons-300-var-channel-kiosk;
};

@include cm-core-icons-300-icon-rule($glyph: "channel-mobile-landscape") {
  content: $cm-core-icons-300-var-channel-mobile-landscape;
};

@include cm-core-icons-300-icon-rule($glyph: "channel-mobile-portrait") {
  content: $cm-core-icons-300-var-channel-mobile-portrait;
};

@include cm-core-icons-300-icon-rule($glyph: "channel-notebook") {
  content: $cm-core-icons-300-var-channel-notebook;
};

@include cm-core-icons-300-icon-rule($glyph: "channel-tablet-landscape") {
  content: $cm-core-icons-300-var-channel-tablet-landscape;
};

@include cm-core-icons-300-icon-rule($glyph: "channel-tablet-portrait") {
  content: $cm-core-icons-300-var-channel-tablet-portrait;
};

@include cm-core-icons-300-icon-rule($glyph: "check-for-errors") {
  content: $cm-core-icons-300-var-check-for-errors;
};

@include cm-core-icons-300-icon-rule($glyph: "check-for-warnings") {
  content: $cm-core-icons-300-var-check-for-warnings;
};

@include cm-core-icons-300-icon-rule($glyph: "check-in-document") {
  content: $cm-core-icons-300-var-check-in-document;
};

@include cm-core-icons-300-icon-rule($glyph: "clear-edited-content") {
  content: $cm-core-icons-300-var-clear-edited-content;
};

@include cm-core-icons-300-icon-rule($glyph: "cloud-device-1") {
  content: $cm-core-icons-300-var-cloud-device-1;
};

@include cm-core-icons-300-icon-rule($glyph: "cloud-device-2") {
  content: $cm-core-icons-300-var-cloud-device-2;
};

@include cm-core-icons-300-icon-rule($glyph: "cloud-device-3") {
  content: $cm-core-icons-300-var-cloud-device-3;
};

@include cm-core-icons-300-icon-rule($glyph: "cloudinary") {
  content: $cm-core-icons-300-var-cloudinary;
};

@include cm-core-icons-300-icon-rule($glyph: "collapsing-arrow-left") {
  content: $cm-core-icons-300-var-collapsing-arrow-left;
};

@include cm-core-icons-300-icon-rule($glyph: "collapsing-arrow-right") {
  content: $cm-core-icons-300-var-collapsing-arrow-right;
};

@include cm-core-icons-300-icon-rule($glyph: "comment-attachment") {
  content: $cm-core-icons-300-var-comment-attachment;
};

@include cm-core-icons-300-icon-rule($glyph: "comment") {
  content: $cm-core-icons-300-var-comment;
};

@include cm-core-icons-300-icon-rule($glyph: "commerce-catalog") {
  content: $cm-core-icons-300-var-commerce-catalog;
};

@include cm-core-icons-300-icon-rule($glyph: "content-hub") {
  content: $cm-core-icons-300-var-content-hub;
};

@include cm-core-icons-300-icon-rule($glyph: "content-set") {
  content: $cm-core-icons-300-var-content-set;
};

@include cm-core-icons-300-icon-rule($glyph: "context-menu") {
  content: $cm-core-icons-300-var-context-menu;
};

@include cm-core-icons-300-icon-rule($glyph: "copy") {
  content: $cm-core-icons-300-var-copy;
};

@include cm-core-icons-300-icon-rule($glyph: "coremedia-connector") {
  content: $cm-core-icons-300-var-coremedia-connector;
};

@include cm-core-icons-300-icon-rule($glyph: "create-column-left-of-selection") {
  content: $cm-core-icons-300-var-create-column-left-of-selection;
};

@include cm-core-icons-300-icon-rule($glyph: "create-column-right-of-selection") {
  content: $cm-core-icons-300-var-create-column-right-of-selection;
};

@include cm-core-icons-300-icon-rule($glyph: "create-content-set") {
  content: $cm-core-icons-300-var-create-content-set;
};

@include cm-core-icons-300-icon-rule($glyph: "create-content") {
  content: $cm-core-icons-300-var-create-content;
};

@include cm-core-icons-300-icon-rule($glyph: "create-document-not-allowed") {
  content: $cm-core-icons-300-var-create-document-not-allowed;
};

@include cm-core-icons-300-icon-rule($glyph: "create-local-site") {
  content: $cm-core-icons-300-var-create-local-site;
};

@include cm-core-icons-300-icon-rule($glyph: "create-new-folder") {
  content: $cm-core-icons-300-var-create-new-folder;
};

@include cm-core-icons-300-icon-rule($glyph: "create-project") {
  content: $cm-core-icons-300-var-create-project;
};

@include cm-core-icons-300-icon-rule($glyph: "create-rule") {
  content: $cm-core-icons-300-var-create-rule;
};

@include cm-core-icons-300-icon-rule($glyph: "create-table") {
  content: $cm-core-icons-300-var-create-table;
};

@include cm-core-icons-300-icon-rule($glyph: "create-type-360-view") {
  content: $cm-core-icons-300-var-create-type-360-view;
};

@include cm-core-icons-300-icon-rule($glyph: "create-type-article") {
  content: $cm-core-icons-300-var-create-type-article;
};

@include cm-core-icons-300-icon-rule($glyph: "create-type-category-teaser") {
  content: $cm-core-icons-300-var-create-type-category-teaser;
};

@include cm-core-icons-300-icon-rule($glyph: "create-type-category") {
  content: $cm-core-icons-300-var-create-type-category;
};

@include cm-core-icons-300-icon-rule($glyph: "create-type-download") {
  content: $cm-core-icons-300-var-create-type-download;
};

@include cm-core-icons-300-icon-rule($glyph: "create-type-external-page") {
  content: $cm-core-icons-300-var-create-type-external-page;
};

@include cm-core-icons-300-icon-rule($glyph: "create-type-image-gallery") {
  content: $cm-core-icons-300-var-create-type-image-gallery;
};

@include cm-core-icons-300-icon-rule($glyph: "create-type-image-map") {
  content: $cm-core-icons-300-var-create-type-image-map;
};

@include cm-core-icons-300-icon-rule($glyph: "create-type-marketing-spot") {
  content: $cm-core-icons-300-var-create-type-marketing-spot;
};

@include cm-core-icons-300-icon-rule($glyph: "create-type-picture") {
  content: $cm-core-icons-300-var-create-type-picture;
};

@include cm-core-icons-300-icon-rule($glyph: "create-type-product-teaser") {
  content: $cm-core-icons-300-var-create-type-product-teaser;
};

@include cm-core-icons-300-icon-rule($glyph: "create-type-product") {
  content: $cm-core-icons-300-var-create-type-product;
};

@include cm-core-icons-300-icon-rule($glyph: "create-type-video") {
  content: $cm-core-icons-300-var-create-type-video;
};

@include cm-core-icons-300-icon-rule($glyph: "cut") {
  content: $cm-core-icons-300-var-cut;
};

@include cm-core-icons-300-icon-rule($glyph: "dam-1") {
  content: $cm-core-icons-300-var-dam-1;
};

@include cm-core-icons-300-icon-rule($glyph: "dam-2") {
  content: $cm-core-icons-300-var-dam-2;
};

@include cm-core-icons-300-icon-rule($glyph: "dashboard") {
  content: $cm-core-icons-300-var-dashboard;
};

@include cm-core-icons-300-icon-rule($glyph: "decentral-translation") {
  content: $cm-core-icons-300-var-decentral-translation;
};

@include cm-core-icons-300-icon-rule($glyph: "dictionary-attributes") {
  content: $cm-core-icons-300-var-dictionary-attributes;
};

@include cm-core-icons-300-icon-rule($glyph: "dictionary") {
  content: $cm-core-icons-300-var-dictionary;
};

@include cm-core-icons-300-icon-rule($glyph: "differencing-summary") {
  content: $cm-core-icons-300-var-differencing-summary;
};

@include cm-core-icons-300-icon-rule($glyph: "divide-cells-horizontally") {
  content: $cm-core-icons-300-var-divide-cells-horizontally;
};

@include cm-core-icons-300-icon-rule($glyph: "divide-cells-vertically") {
  content: $cm-core-icons-300-var-divide-cells-vertically;
};

@include cm-core-icons-300-icon-rule($glyph: "download") {
  content: $cm-core-icons-300-var-download;
};

@include cm-core-icons-300-icon-rule($glyph: "dropbox") {
  content: $cm-core-icons-300-var-dropbox;
};

@include cm-core-icons-300-icon-rule($glyph: "duplicate") {
  content: $cm-core-icons-300-var-duplicate;
};

@include cm-core-icons-300-icon-rule($glyph: "edited-by-user") {
  content: $cm-core-icons-300-var-edited-by-user;
};

@include cm-core-icons-300-icon-rule($glyph: "enlarge-image") {
  content: $cm-core-icons-300-var-enlarge-image;
};

@include cm-core-icons-300-icon-rule($glyph: "envelope") {
  content: $cm-core-icons-300-var-envelope;
};

@include cm-core-icons-300-icon-rule($glyph: "error") {
  content: $cm-core-icons-300-var-error;
};

@include cm-core-icons-300-icon-rule($glyph: "exclamation-mark") {
  content: $cm-core-icons-300-var-exclamation-mark;
};

@include cm-core-icons-300-icon-rule($glyph: "exit") {
  content: $cm-core-icons-300-var-exit;
};

@include cm-core-icons-300-icon-rule($glyph: "expand") {
  content: $cm-core-icons-300-var-expand;
};

@include cm-core-icons-300-icon-rule($glyph: "exposition") {
  content: $cm-core-icons-300-var-exposition;
};

@include cm-core-icons-300-icon-rule($glyph: "external-library") {
  content: $cm-core-icons-300-var-external-library;
};

@include cm-core-icons-300-icon-rule($glyph: "external-preview") {
  content: $cm-core-icons-300-var-external-preview;
};

@include cm-core-icons-300-icon-rule($glyph: "facebook") {
  content: $cm-core-icons-300-var-facebook;
};

@include cm-core-icons-300-icon-rule($glyph: "favorites-folder") {
  content: $cm-core-icons-300-var-favorites-folder;
};

@include cm-core-icons-300-icon-rule($glyph: "file-system") {
  content: $cm-core-icons-300-var-file-system;
};

@include cm-core-icons-300-icon-rule($glyph: "finished-workflow") {
  content: $cm-core-icons-300-var-finished-workflow;
};

@include cm-core-icons-300-icon-rule($glyph: "finished") {
  content: $cm-core-icons-300-var-finished;
};

@include cm-core-icons-300-icon-rule($glyph: "folder-open") {
  content: $cm-core-icons-300-var-folder-open;
};

@include cm-core-icons-300-icon-rule($glyph: "folder") {
  content: $cm-core-icons-300-var-folder;
};

@include cm-core-icons-300-icon-rule($glyph: "fontsize") {
  content: $cm-core-icons-300-var-fontsize;
};

@include cm-core-icons-300-icon-rule($glyph: "forbidden") {
  content: $cm-core-icons-300-var-forbidden;
};

@include cm-core-icons-300-icon-rule($glyph: "format-text-bold") {
  content: $cm-core-icons-300-var-format-text-bold;
};

@include cm-core-icons-300-icon-rule($glyph: "format-text-inline") {
  content: $cm-core-icons-300-var-format-text-inline;
};

@include cm-core-icons-300-icon-rule($glyph: "format-text-italic") {
  content: $cm-core-icons-300-var-format-text-italic;
};

@include cm-core-icons-300-icon-rule($glyph: "forward") {
  content: $cm-core-icons-300-var-forward;
};

@include cm-core-icons-300-icon-rule($glyph: "fragment-preview") {
  content: $cm-core-icons-300-var-fragment-preview;
};

@include cm-core-icons-300-icon-rule($glyph: "help") {
  content: $cm-core-icons-300-var-help;
};

@include cm-core-icons-300-icon-rule($glyph: "hidden-channel") {
  content: $cm-core-icons-300-var-hidden-channel;
};

@include cm-core-icons-300-icon-rule($glyph: "home") {
  content: $cm-core-icons-300-var-home;
};

@include cm-core-icons-300-icon-rule($glyph: "in-production") {
  content: $cm-core-icons-300-var-in-production;
};

@include cm-core-icons-300-icon-rule($glyph: "inbox") {
  content: $cm-core-icons-300-var-inbox;
};

@include cm-core-icons-300-icon-rule($glyph: "indent") {
  content: $cm-core-icons-300-var-indent;
};

@include cm-core-icons-300-icon-rule($glyph: "information") {
  content: $cm-core-icons-300-var-information;
};

@include cm-core-icons-300-icon-rule($glyph: "insert-row-above-selection") {
  content: $cm-core-icons-300-var-insert-row-above-selection;
};

@include cm-core-icons-300-icon-rule($glyph: "insert-row-below-selection") {
  content: $cm-core-icons-300-var-insert-row-below-selection;
};

@include cm-core-icons-300-icon-rule($glyph: "instagram") {
  content: $cm-core-icons-300-var-instagram;
};

@include cm-core-icons-300-icon-rule($glyph: "kit") {
  content: $cm-core-icons-300-var-kit;
};

@include cm-core-icons-300-icon-rule($glyph: "lamp") {
  content: $cm-core-icons-300-var-lamp;
};

@include cm-core-icons-300-icon-rule($glyph: "language-comparison") {
  content: $cm-core-icons-300-var-language-comparison;
};

@include cm-core-icons-300-icon-rule($glyph: "library") {
  content: $cm-core-icons-300-var-library;
};

@include cm-core-icons-300-icon-rule($glyph: "linkedin") {
  content: $cm-core-icons-300-var-linkedin;
};

@include cm-core-icons-300-icon-rule($glyph: "list-view") {
  content: $cm-core-icons-300-var-list-view;
};

@include cm-core-icons-300-icon-rule($glyph: "loaded-video-placeholder") {
  content: $cm-core-icons-300-var-loaded-video-placeholder;
};

@include cm-core-icons-300-icon-rule($glyph: "mark-comment-button") {
  content: $cm-core-icons-300-var-mark-comment-button;
};

@include cm-core-icons-300-icon-rule($glyph: "mark-comment-flag") {
  content: $cm-core-icons-300-var-mark-comment-flag;
};

@include cm-core-icons-300-icon-rule($glyph: "mimetype-doc") {
  content: $cm-core-icons-300-var-mimetype-doc;
};

@include cm-core-icons-300-icon-rule($glyph: "mimetype-pdf") {
  content: $cm-core-icons-300-var-mimetype-pdf;
};

@include cm-core-icons-300-icon-rule($glyph: "mimetype-ppt") {
  content: $cm-core-icons-300-var-mimetype-ppt;
};

@include cm-core-icons-300-icon-rule($glyph: "mimetype-swf") {
  content: $cm-core-icons-300-var-mimetype-swf;
};

@include cm-core-icons-300-icon-rule($glyph: "mimetype-tiff") {
  content: $cm-core-icons-300-var-mimetype-tiff;
};

@include cm-core-icons-300-icon-rule($glyph: "mimetype-txt") {
  content: $cm-core-icons-300-var-mimetype-txt;
};

@include cm-core-icons-300-icon-rule($glyph: "mimetype-xls") {
  content: $cm-core-icons-300-var-mimetype-xls;
};

@include cm-core-icons-300-icon-rule($glyph: "mimetype-zip") {
  content: $cm-core-icons-300-var-mimetype-zip;
};

@include cm-core-icons-300-icon-rule($glyph: "mimetype") {
  content: $cm-core-icons-300-var-mimetype;
};

@include cm-core-icons-300-icon-rule($glyph: "minus") {
  content: $cm-core-icons-300-var-minus;
};

@include cm-core-icons-300-icon-rule($glyph: "moderation") {
  content: $cm-core-icons-300-var-moderation;
};

@include cm-core-icons-300-icon-rule($glyph: "move-down") {
  content: $cm-core-icons-300-var-move-down;
};

@include cm-core-icons-300-icon-rule($glyph: "move-up") {
  content: $cm-core-icons-300-var-move-up;
};

@include cm-core-icons-300-icon-rule($glyph: "navigation-tree") {
  content: $cm-core-icons-300-var-navigation-tree;
};

@include cm-core-icons-300-icon-rule($glyph: "no-rights") {
  content: $cm-core-icons-300-var-no-rights;
};

@include cm-core-icons-300-icon-rule($glyph: "no-selection-item") {
  content: $cm-core-icons-300-var-no-selection-item;
};

@include cm-core-icons-300-icon-rule($glyph: "not-valid-anymore") {
  content: $cm-core-icons-300-var-not-valid-anymore;
};

@include cm-core-icons-300-icon-rule($glyph: "not-valid-yet") {
  content: $cm-core-icons-300-var-not-valid-yet;
};

@include cm-core-icons-300-icon-rule($glyph: "numbered-list") {
  content: $cm-core-icons-300-var-numbered-list;
};

@include cm-core-icons-300-icon-rule($glyph: "one-drive") {
  content: $cm-core-icons-300-var-one-drive;
};

@include cm-core-icons-300-icon-rule($glyph: "open-in-browser") {
  content: $cm-core-icons-300-var-open-in-browser;
};

@include cm-core-icons-300-icon-rule($glyph: "open-wcs-in-tab") {
  content: $cm-core-icons-300-var-open-wcs-in-tab;
};

@include cm-core-icons-300-icon-rule($glyph: "original-size") {
  content: $cm-core-icons-300-var-original-size;
};

@include cm-core-icons-300-icon-rule($glyph: "outdent") {
  content: $cm-core-icons-300-var-outdent;
};

@include cm-core-icons-300-icon-rule($glyph: "paragraph-style") {
  content: $cm-core-icons-300-var-paragraph-style;
};

@include cm-core-icons-300-icon-rule($glyph: "paste-as-plain-text") {
  content: $cm-core-icons-300-var-paste-as-plain-text;
};

@include cm-core-icons-300-icon-rule($glyph: "paste-from-word") {
  content: $cm-core-icons-300-var-paste-from-word;
};

@include cm-core-icons-300-icon-rule($glyph: "paste") {
  content: $cm-core-icons-300-var-paste;
};

@include cm-core-icons-300-icon-rule($glyph: "path-dots") {
  content: $cm-core-icons-300-var-path-dots;
};

@include cm-core-icons-300-icon-rule($glyph: "pencil") {
  content: $cm-core-icons-300-var-pencil;
};

@include cm-core-icons-300-icon-rule($glyph: "pending") {
  content: $cm-core-icons-300-var-pending;
};

@include cm-core-icons-300-icon-rule($glyph: "persona-in-preview") {
  content: $cm-core-icons-300-var-persona-in-preview;
};

@include cm-core-icons-300-icon-rule($glyph: "personal-folder-article") {
  content: $cm-core-icons-300-var-personal-folder-article;
};

@include cm-core-icons-300-icon-rule($glyph: "personal-folder-flame") {
  content: $cm-core-icons-300-var-personal-folder-flame;
};

@include cm-core-icons-300-icon-rule($glyph: "personal-folder-picture") {
  content: $cm-core-icons-300-var-personal-folder-picture;
};

@include cm-core-icons-300-icon-rule($glyph: "personalized-task") {
  content: $cm-core-icons-300-var-personalized-task;
};

@include cm-core-icons-300-icon-rule($glyph: "pinterest") {
  content: $cm-core-icons-300-var-pinterest;
};

@include cm-core-icons-300-icon-rule($glyph: "placement-view") {
  content: $cm-core-icons-300-var-placement-view;
};

@include cm-core-icons-300-icon-rule($glyph: "plus") {
  content: $cm-core-icons-300-var-plus;
};

@include cm-core-icons-300-icon-rule($glyph: "portal") {
  content: $cm-core-icons-300-var-portal;
};

@include cm-core-icons-300-icon-rule($glyph: "preview-overview") {
  content: $cm-core-icons-300-var-preview-overview;
};

@include cm-core-icons-300-icon-rule($glyph: "preview-responsive") {
  content: $cm-core-icons-300-var-preview-responsive;
};

@include cm-core-icons-300-icon-rule($glyph: "print") {
  content: $cm-core-icons-300-var-print;
};

@include cm-core-icons-300-icon-rule($glyph: "prioritize-down-button") {
  content: $cm-core-icons-300-var-prioritize-down-button;
};

@include cm-core-icons-300-icon-rule($glyph: "prioritize-down") {
  content: $cm-core-icons-300-var-prioritize-down;
};

@include cm-core-icons-300-icon-rule($glyph: "prioritize-up-button") {
  content: $cm-core-icons-300-var-prioritize-up-button;
};

@include cm-core-icons-300-icon-rule($glyph: "prioritize-up") {
  content: $cm-core-icons-300-var-prioritize-up;
};

@include cm-core-icons-300-icon-rule($glyph: "product-picture") {
  content: $cm-core-icons-300-var-product-picture;
};

@include cm-core-icons-300-icon-rule($glyph: "project") {
  content: $cm-core-icons-300-var-project;
};

@include cm-core-icons-300-icon-rule($glyph: "publish") {
  content: $cm-core-icons-300-var-publish;
};

@include cm-core-icons-300-icon-rule($glyph: "quotes") {
  content: $cm-core-icons-300-var-quotes;
};

@include cm-core-icons-300-icon-rule($glyph: "read-only") {
  content: $cm-core-icons-300-var-read-only;
};

@include cm-core-icons-300-icon-rule($glyph: "redo") {
  content: $cm-core-icons-300-var-redo;
};

@include cm-core-icons-300-icon-rule($glyph: "reference-folder") {
  content: $cm-core-icons-300-var-reference-folder;
};

@include cm-core-icons-300-icon-rule($glyph: "reference-to-page") {
  content: $cm-core-icons-300-var-reference-to-page;
};

@include cm-core-icons-300-icon-rule($glyph: "reference-to-portal-site") {
  content: $cm-core-icons-300-var-reference-to-portal-site;
};

@include cm-core-icons-300-icon-rule($glyph: "reference-to-template") {
  content: $cm-core-icons-300-var-reference-to-template;
};

@include cm-core-icons-300-icon-rule($glyph: "reflect-horizontal") {
  content: $cm-core-icons-300-var-reflect-horizontal;
};

@include cm-core-icons-300-icon-rule($glyph: "reflect-vertical") {
  content: $cm-core-icons-300-var-reflect-vertical;
};

@include cm-core-icons-300-icon-rule($glyph: "reload-all") {
  content: $cm-core-icons-300-var-reload-all;
};

@include cm-core-icons-300-icon-rule($glyph: "reload") {
  content: $cm-core-icons-300-var-reload;
};

@include cm-core-icons-300-icon-rule($glyph: "remove-external-link") {
  content: $cm-core-icons-300-var-remove-external-link;
};

@include cm-core-icons-300-icon-rule($glyph: "remove-formatting") {
  content: $cm-core-icons-300-var-remove-formatting;
};

@include cm-core-icons-300-icon-rule($glyph: "remove-link") {
  content: $cm-core-icons-300-var-remove-link;
};

@include cm-core-icons-300-icon-rule($glyph: "remove-quotes") {
  content: $cm-core-icons-300-var-remove-quotes;
};

@include cm-core-icons-300-icon-rule($glyph: "remove-selected-columns") {
  content: $cm-core-icons-300-var-remove-selected-columns;
};

@include cm-core-icons-300-icon-rule($glyph: "remove-selected-rows") {
  content: $cm-core-icons-300-var-remove-selected-rows;
};

@include cm-core-icons-300-icon-rule($glyph: "remove-table") {
  content: $cm-core-icons-300-var-remove-table;
};

@include cm-core-icons-300-icon-rule($glyph: "remove") {
  content: $cm-core-icons-300-var-remove;
};

@include cm-core-icons-300-icon-rule($glyph: "research") {
  content: $cm-core-icons-300-var-research;
};

@include cm-core-icons-300-icon-rule($glyph: "reset-focal-point") {
  content: $cm-core-icons-300-var-reset-focal-point;
};

@include cm-core-icons-300-icon-rule($glyph: "reset-focal-points") {
  content: $cm-core-icons-300-var-reset-focal-points;
};

@include cm-core-icons-300-icon-rule($glyph: "reset") {
  content: $cm-core-icons-300-var-reset;
};

@include cm-core-icons-300-icon-rule($glyph: "restore-version") {
  content: $cm-core-icons-300-var-restore-version;
};

@include cm-core-icons-300-icon-rule($glyph: "restricted-document") {
  content: $cm-core-icons-300-var-restricted-document;
};

@include cm-core-icons-300-icon-rule($glyph: "restricted-folder") {
  content: $cm-core-icons-300-var-restricted-folder;
};

@include cm-core-icons-300-icon-rule($glyph: "restricted-picture") {
  content: $cm-core-icons-300-var-restricted-picture;
};

@include cm-core-icons-300-icon-rule($glyph: "restricted-video") {
  content: $cm-core-icons-300-var-restricted-video;
};

@include cm-core-icons-300-icon-rule($glyph: "return-item") {
  content: $cm-core-icons-300-var-return-item;
};

@include cm-core-icons-300-icon-rule($glyph: "revert-approve") {
  content: $cm-core-icons-300-var-revert-approve;
};

@include cm-core-icons-300-icon-rule($glyph: "revert") {
  content: $cm-core-icons-300-var-revert;
};

@include cm-core-icons-300-icon-rule($glyph: "review") {
  content: $cm-core-icons-300-var-review;
};

@include cm-core-icons-300-icon-rule($glyph: "rotate-left") {
  content: $cm-core-icons-300-var-rotate-left;
};

@include cm-core-icons-300-icon-rule($glyph: "rotate-right") {
  content: $cm-core-icons-300-var-rotate-right;
};

@include cm-core-icons-300-icon-rule($glyph: "rotate") {
  content: $cm-core-icons-300-var-rotate;
};

@include cm-core-icons-300-icon-rule($glyph: "rss-feed") {
  content: $cm-core-icons-300-var-rss-feed;
};

@include cm-core-icons-300-icon-rule($glyph: "rss-item") {
  content: $cm-core-icons-300-var-rss-item;
};

@include cm-core-icons-300-icon-rule($glyph: "s3-buckets") {
  content: $cm-core-icons-300-var-s3-buckets;
};

@include cm-core-icons-300-icon-rule($glyph: "save-as") {
  content: $cm-core-icons-300-var-save-as;
};

@include cm-core-icons-300-icon-rule($glyph: "save") {
  content: $cm-core-icons-300-var-save;
};

@include cm-core-icons-300-icon-rule($glyph: "search-folder") {
  content: $cm-core-icons-300-var-search-folder;
};

@include cm-core-icons-300-icon-rule($glyph: "search-product-variant") {
  content: $cm-core-icons-300-var-search-product-variant;
};

@include cm-core-icons-300-icon-rule($glyph: "search") {
  content: $cm-core-icons-300-var-search;
};

@include cm-core-icons-300-icon-rule($glyph: "select-column") {
  content: $cm-core-icons-300-var-select-column;
};

@include cm-core-icons-300-icon-rule($glyph: "select-row") {
  content: $cm-core-icons-300-var-select-row;
};

@include cm-core-icons-300-icon-rule($glyph: "send-link-to-content-set") {
  content: $cm-core-icons-300-var-send-link-to-content-set;
};

@include cm-core-icons-300-icon-rule($glyph: "set-width") {
  content: $cm-core-icons-300-var-set-width;
};

@include cm-core-icons-300-icon-rule($glyph: "shared-content-set") {
  content: $cm-core-icons-300-var-shared-content-set;
};

@include cm-core-icons-300-icon-rule($glyph: "shared-folder") {
  content: $cm-core-icons-300-var-shared-folder;
};

@include cm-core-icons-300-icon-rule($glyph: "sharpening") {
  content: $cm-core-icons-300-var-sharpening;
};

@include cm-core-icons-300-icon-rule($glyph: "show-html") {
  content: $cm-core-icons-300-var-show-html;
};

@include cm-core-icons-300-icon-rule($glyph: "show-in-library") {
  content: $cm-core-icons-300-var-show-in-library;
};

@include cm-core-icons-300-icon-rule($glyph: "site-link") {
  content: $cm-core-icons-300-var-site-link;
};

@include cm-core-icons-300-icon-rule($glyph: "site-synchronized") {
  content: $cm-core-icons-300-var-site-synchronized;
};

@include cm-core-icons-300-icon-rule($glyph: "site-translated") {
  content: $cm-core-icons-300-var-site-translated;
};

@include cm-core-icons-300-icon-rule($glyph: "site") {
  content: $cm-core-icons-300-var-site;
};

@include cm-core-icons-300-icon-rule($glyph: "sort-asc") {
  content: $cm-core-icons-300-var-sort-asc;
};

@include cm-core-icons-300-icon-rule($glyph: "sort-desc") {
  content: $cm-core-icons-300-var-sort-desc;
};

@include cm-core-icons-300-icon-rule($glyph: "spacer") {
  content: $cm-core-icons-300-var-spacer;
};

@include cm-core-icons-300-icon-rule($glyph: "star") {
  content: $cm-core-icons-300-var-star;
};

@include cm-core-icons-300-icon-rule($glyph: "start-workflow") {
  content: $cm-core-icons-300-var-start-workflow;
};

@include cm-core-icons-300-icon-rule($glyph: "status-comment") {
  content: $cm-core-icons-300-var-status-comment;
};

@include cm-core-icons-300-icon-rule($glyph: "status-draft") {
  content: $cm-core-icons-300-var-status-draft;
};

@include cm-core-icons-300-icon-rule($glyph: "status-like") {
  content: $cm-core-icons-300-var-status-like;
};

@include cm-core-icons-300-icon-rule($glyph: "status-not-synchronized") {
  content: $cm-core-icons-300-var-status-not-synchronized;
};

@include cm-core-icons-300-icon-rule($glyph: "status-retweets") {
  content: $cm-core-icons-300-var-status-retweets;
};

@include cm-core-icons-300-icon-rule($glyph: "status-shares") {
  content: $cm-core-icons-300-var-status-shares;
};

@include cm-core-icons-300-icon-rule($glyph: "status-synchronized") {
  content: $cm-core-icons-300-var-status-synchronized;
};

@include cm-core-icons-300-icon-rule($glyph: "swap") {
  content: $cm-core-icons-300-var-swap;
};

@include cm-core-icons-300-icon-rule($glyph: "table") {
  content: $cm-core-icons-300-var-table;
};

@include cm-core-icons-300-icon-rule($glyph: "tag") {
  content: $cm-core-icons-300-var-tag;
};

@include cm-core-icons-300-icon-rule($glyph: "task") {
  content: $cm-core-icons-300-var-task;
};

@include cm-core-icons-300-icon-rule($glyph: "taxonomy") {
  content: $cm-core-icons-300-var-taxonomy;
};

@include cm-core-icons-300-icon-rule($glyph: "template") {
  content: $cm-core-icons-300-var-template;
};

@include cm-core-icons-300-icon-rule($glyph: "text-alignment") {
  content: $cm-core-icons-300-var-text-alignment;
};

@include cm-core-icons-300-icon-rule($glyph: "text-on-image-lb") {
  content: $cm-core-icons-300-var-text-on-image-lb;
};

@include cm-core-icons-300-icon-rule($glyph: "text-on-image-lm") {
  content: $cm-core-icons-300-var-text-on-image-lm;
};

@include cm-core-icons-300-icon-rule($glyph: "text-on-image-lu") {
  content: $cm-core-icons-300-var-text-on-image-lu;
};

@include cm-core-icons-300-icon-rule($glyph: "text-on-image-mb") {
  content: $cm-core-icons-300-var-text-on-image-mb;
};

@include cm-core-icons-300-icon-rule($glyph: "text-on-image-mm") {
  content: $cm-core-icons-300-var-text-on-image-mm;
};

@include cm-core-icons-300-icon-rule($glyph: "text-on-image-mu") {
  content: $cm-core-icons-300-var-text-on-image-mu;
};

@include cm-core-icons-300-icon-rule($glyph: "text-on-image-rb") {
  content: $cm-core-icons-300-var-text-on-image-rb;
};

@include cm-core-icons-300-icon-rule($glyph: "text-on-image-rm") {
  content: $cm-core-icons-300-var-text-on-image-rm;
};

@include cm-core-icons-300-icon-rule($glyph: "text-on-image-ru") {
  content: $cm-core-icons-300-var-text-on-image-ru;
};

@include cm-core-icons-300-icon-rule($glyph: "thumb-down_24") {
  content: $cm-core-icons-300-var-thumb-down_24;
};

@include cm-core-icons-300-icon-rule($glyph: "thumb-down") {
  content: $cm-core-icons-300-var-thumb-down;
};

@include cm-core-icons-300-icon-rule($glyph: "thumbnail-view") {
  content: $cm-core-icons-300-var-thumbnail-view;
};

@include cm-core-icons-300-icon-rule($glyph: "thumb-up") {
  content: $cm-core-icons-300-var-thumb-up;
};

@include cm-core-icons-300-icon-rule($glyph: "time") {
  content: $cm-core-icons-300-var-time;
};

@include cm-core-icons-300-icon-rule($glyph: "trash-bin") {
  content: $cm-core-icons-300-var-trash-bin;
};

@include cm-core-icons-300-icon-rule($glyph: "tree-view") {
  content: $cm-core-icons-300-var-tree-view;
};

@include cm-core-icons-300-icon-rule($glyph: "twitter") {
  content: $cm-core-icons-300-var-twitter;
};

@include cm-core-icons-300-icon-rule($glyph: "type-360-view") {
  content: $cm-core-icons-300-var-type-360-view;
};

@include cm-core-icons-300-icon-rule($glyph: "type-article") {
  content: $cm-core-icons-300-var-type-article;
};

@include cm-core-icons-300-icon-rule($glyph: "type-asset-audio") {
  content: $cm-core-icons-300-var-type-asset-audio;
};

@include cm-core-icons-300-icon-rule($glyph: "type-asset-document") {
  content: $cm-core-icons-300-var-type-asset-document;
};

@include cm-core-icons-300-icon-rule($glyph: "type-asset-interactive") {
  content: $cm-core-icons-300-var-type-asset-interactive;
};

@include cm-core-icons-300-icon-rule($glyph: "type-asset-object") {
  content: $cm-core-icons-300-var-type-asset-object;
};

@include cm-core-icons-300-icon-rule($glyph: "type-asset-picture") {
  content: $cm-core-icons-300-var-type-asset-picture;
};

@include cm-core-icons-300-icon-rule($glyph: "type-asset-video") {
  content: $cm-core-icons-300-var-type-asset-video;
};

@include cm-core-icons-300-icon-rule($glyph: "type-audio") {
  content: $cm-core-icons-300-var-type-audio;
};

@include cm-core-icons-300-icon-rule($glyph: "type-augmented-category") {
  content: $cm-core-icons-300-var-type-augmented-category;
};

@include cm-core-icons-300-icon-rule($glyph: "type-augmented-page") {
  content: $cm-core-icons-300-var-type-augmented-page;
};

@include cm-core-icons-300-icon-rule($glyph: "type-augmented-product") {
  content: $cm-core-icons-300-var-type-augmented-product;
};

@include cm-core-icons-300-icon-rule($glyph: "type-category") {
  content: $cm-core-icons-300-var-type-category;
};

@include cm-core-icons-300-icon-rule($glyph: "type-collection") {
  content: $cm-core-icons-300-var-type-collection;
};

@include cm-core-icons-300-icon-rule($glyph: "type-css") {
  content: $cm-core-icons-300-var-type-css;
};

@include cm-core-icons-300-icon-rule($glyph: "type-download") {
  content: $cm-core-icons-300-var-type-download;
};

@include cm-core-icons-300-icon-rule($glyph: "type-dynamic-list") {
  content: $cm-core-icons-300-var-type-dynamic-list;
};

@include cm-core-icons-300-icon-rule($glyph: "type-external-page") {
  content: $cm-core-icons-300-var-type-external-page;
};

@include cm-core-icons-300-icon-rule($glyph: "type-external-category") {
  content: $cm-core-icons-300-var-type-external-category;
};

@include cm-core-icons-300-icon-rule($glyph: "type-external-content") {
  content: $cm-core-icons-300-var-type-external-content;
};

@include cm-core-icons-300-icon-rule($glyph: "type-external-link") {
  content: $cm-core-icons-300-var-type-external-link;
};

@include cm-core-icons-300-icon-rule($glyph: "type-external-product") {
  content: $cm-core-icons-300-var-type-external-product;
};

@include cm-core-icons-300-icon-rule($glyph: "type-html-fragment") {
  content: $cm-core-icons-300-var-type-html-fragment;
};

@include cm-core-icons-300-icon-rule($glyph: "type-image-gallery") {
  content: $cm-core-icons-300-var-type-image-gallery;
};

@include cm-core-icons-300-icon-rule($glyph: "type-image-map") {
  content: $cm-core-icons-300-var-type-image-map;
};

@include cm-core-icons-300-icon-rule($glyph: "type-interactive") {
  content: $cm-core-icons-300-var-type-interactive;
};

@include cm-core-icons-300-icon-rule($glyph: "type-javascript") {
  content: $cm-core-icons-300-var-type-javascript;
};

@include cm-core-icons-300-icon-rule($glyph: "type-marketing-spot") {
  content: $cm-core-icons-300-var-type-marketing-spot;
};

@include cm-core-icons-300-icon-rule($glyph: "type-media") {
  content: $cm-core-icons-300-var-type-media;
};

@include cm-core-icons-300-icon-rule($glyph: "type-object") {
  content: $cm-core-icons-300-var-type-object;
};

@include cm-core-icons-300-icon-rule($glyph: "type-page") {
  content: $cm-core-icons-300-var-type-page;
};

@include cm-core-icons-300-icon-rule($glyph: "type-personalized-content") {
  content: $cm-core-icons-300-var-type-personalized-content;
};

@include cm-core-icons-300-icon-rule($glyph: "type-picture") {
  content: $cm-core-icons-300-var-type-picture;
};

@include cm-core-icons-300-icon-rule($glyph: "type-preferences") {
  content: $cm-core-icons-300-var-type-preferences;
};

@include cm-core-icons-300-icon-rule($glyph: "type-product-list") {
  content: $cm-core-icons-300-var-type-product-list;
};

@include cm-core-icons-300-icon-rule($glyph: "type-product-teaser") {
  content: $cm-core-icons-300-var-type-product-teaser;
};

@include cm-core-icons-300-icon-rule($glyph: "type-product-variant") {
  content: $cm-core-icons-300-var-type-product-variant;
};

@include cm-core-icons-300-icon-rule($glyph: "type-product") {
  content: $cm-core-icons-300-var-type-product;
};

@include cm-core-icons-300-icon-rule($glyph: "type-query") {
  content: $cm-core-icons-300-var-type-query;
};

@include cm-core-icons-300-icon-rule($glyph: "type-resource-bundle") {
  content: $cm-core-icons-300-var-type-resource-bundle;
};

@include cm-core-icons-300-icon-rule($glyph: "type-settings") {
  content: $cm-core-icons-300-var-type-settings;
};

@include cm-core-icons-300-icon-rule($glyph: "type-site-indicator") {
  content: $cm-core-icons-300-var-type-site-indicator;
};

@include cm-core-icons-300-icon-rule($glyph: "type-sitemap") {
  content: $cm-core-icons-300-var-type-sitemap;
};

@include cm-core-icons-300-icon-rule($glyph: "type-symbol") {
  content: $cm-core-icons-300-var-type-symbol;
};

@include cm-core-icons-300-icon-rule($glyph: "type-teaser") {
  content: $cm-core-icons-300-var-type-teaser;
};

@include cm-core-icons-300-icon-rule($glyph: "type-theming") {
  content: $cm-core-icons-300-var-type-theming;
};

@include cm-core-icons-300-icon-rule($glyph: "type-video") {
  content: $cm-core-icons-300-var-type-video;
};

@include cm-core-icons-300-icon-rule($glyph: "type-viewtype") {
  content: $cm-core-icons-300-var-type-viewtype;
};

@include cm-core-icons-300-icon-rule($glyph: "undelete") {
  content: $cm-core-icons-300-var-undelete;
};

@include cm-core-icons-300-icon-rule($glyph: "undo") {
  content: $cm-core-icons-300-var-undo;
};

@include cm-core-icons-300-icon-rule($glyph: "unify-cells") {
  content: $cm-core-icons-300-var-unify-cells;
};

@include cm-core-icons-300-icon-rule($glyph: "unknown-mimetype") {
  content: $cm-core-icons-300-var-unknown-mimetype;
};

@include cm-core-icons-300-icon-rule($glyph: "upload") {
  content: $cm-core-icons-300-var-upload;
};

@include cm-core-icons-300-icon-rule($glyph: "user-administration") {
  content: $cm-core-icons-300-var-user-administration;
};

@include cm-core-icons-300-icon-rule($glyph: "user-personalization") {
  content: $cm-core-icons-300-var-user-personalization;
};

@include cm-core-icons-300-icon-rule($glyph: "user") {
  content: $cm-core-icons-300-var-user;
};

@include cm-core-icons-300-icon-rule($glyph: "users-personalization") {
  content: $cm-core-icons-300-var-users-personalization;
};

@include cm-core-icons-300-icon-rule($glyph: "validator-attention") {
  content: $cm-core-icons-300-var-validator-attention;
};

@include cm-core-icons-300-icon-rule($glyph: "validator-check") {
  content: $cm-core-icons-300-var-validator-check;
};

@include cm-core-icons-300-icon-rule($glyph: "validator-error") {
  content: $cm-core-icons-300-var-validator-error;
};

@include cm-core-icons-300-icon-rule($glyph: "version-comparison") {
  content: $cm-core-icons-300-var-version-comparison;
};

@include cm-core-icons-300-icon-rule($glyph: "view-crops") {
  content: $cm-core-icons-300-var-view-crops;
};

@include cm-core-icons-300-icon-rule($glyph: "view-menu") {
  content: $cm-core-icons-300-var-view-menu;
};

@include cm-core-icons-300-icon-rule($glyph: "warning") {
  content: $cm-core-icons-300-var-warning;
};

@include cm-core-icons-300-icon-rule($glyph: "wcs-management") {
  content: $cm-core-icons-300-var-wcs-management;
};

@include cm-core-icons-300-icon-rule($glyph: "window-settings") {
  content: $cm-core-icons-300-var-window-settings;
};

@include cm-core-icons-300-icon-rule($glyph: "withdraw") {
  content: $cm-core-icons-300-var-withdraw;
};

@include cm-core-icons-300-icon-rule($glyph: "workflow-accepted-by-me") {
  content: $cm-core-icons-300-var-workflow-accepted-by-me;
};

@include cm-core-icons-300-icon-rule($glyph: "workflow-started-by-me") {
  content: $cm-core-icons-300-var-workflow-started-by-me;
};

@include cm-core-icons-300-icon-rule($glyph: "workflow") {
  content: $cm-core-icons-300-var-workflow;
};

@include cm-core-icons-300-icon-rule($glyph: "xliff") {
  content: $cm-core-icons-300-var-xliff;
};

@include cm-core-icons-300-icon-rule($glyph: "youtube-channel-youtube-video") {
  content: $cm-core-icons-300-var-youtube-channel-youtube-video;
};

@include cm-core-icons-300-icon-rule($glyph: "youtube") {
  content: $cm-core-icons-300-var-youtube;
};

@include cm-core-icons-300-icon-rule($glyph: "zoom-in") {
  content: $cm-core-icons-300-var-zoom-in;
};

@include cm-core-icons-300-icon-rule($glyph: "zoom-out") {
  content: $cm-core-icons-300-var-zoom-out;
};


