@mixin cm-core-icons-300-base-styles {
  font-family:"cm-core-icons-300";
  @if $cm-core-icons-300-extended-base-styles {
    display:inline-block;
    line-height:1;
    font-weight:normal;
    font-style:normal;
    speak:none;
    text-decoration:inherit;
    text-transform:none;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
  }
}

@mixin cm-core-icons-300-icon-selector($glyph) {
  @if $cm-core-icons-300-bem-syntax {
    .#{$cm-core-icons-300-css-prefix}--#{$glyph} {
      @content;
    }
  } @else {
    .#{$cm-core-icons-300-css-prefix}-#{$glyph} {
      @content;
    }
  }
}

@mixin cm-core-icons-300-icon-rule($glyph) {
  @include cm-core-icons-300-icon-selector($glyph) {
    @if (not $cm-core-icons-300-bem-syntax and not $cm-core-icons-300-base-styles-in-before) {
      @include cm-core-icons-300-base-styles();
    }
    &:before {
      @content;
      @if (not $cm-core-icons-300-bem-syntax and $cm-core-icons-300-base-styles-in-before) {
        @include cm-core-icons-300-base-styles();
      }
    }
  }
}
