@font-face {
  font-family:"cm-core-icons-300";
  src:url("#{$cm-core-icons-300-font-path}/cm-core-icons-300.eot?41b86f1e2387b82856886e4bd32620c5");
  src:url("#{$cm-core-icons-300-font-path}/cm-core-icons-300.eot?#iefix") format("embedded-opentype"),
		url("#{$cm-core-icons-300-font-path}/cm-core-icons-300.woff?41b86f1e2387b82856886e4bd32620c5") format("woff"),
		url("#{$cm-core-icons-300-font-path}/cm-core-icons-300.ttf?41b86f1e2387b82856886e4bd32620c5") format("truetype");
  font-weight:normal;
  font-style:normal;
}
