@font-face {
  font-family:"cm-core-icons-100";
  src:url("#{$cm-core-icons-100-font-path}/cm-core-icons-100.eot?c2c482450e2e9e37fb2c7b53d179b25f");
  src:url("#{$cm-core-icons-100-font-path}/cm-core-icons-100.eot?#iefix") format("embedded-opentype"),
		url("#{$cm-core-icons-100-font-path}/cm-core-icons-100.woff?c2c482450e2e9e37fb2c7b53d179b25f") format("woff"),
		url("#{$cm-core-icons-100-font-path}/cm-core-icons-100.ttf?c2c482450e2e9e37fb2c7b53d179b25f") format("truetype");
  font-weight:normal;
  font-style:normal;
}
