@if $cm-include-toolbar-default-ui {
  $_ui: "default";
  @include cm-toolbar-ui(
    $ui: $_ui
  );
}

@if $cm-include-toolbar-light-ui {
  $_ui: "light";
  @include extjs-toolbar-ui(
    $ui: $_ui,
    $background-color: $cm-white
  );
  @include cm-toolbar-ui(
    $ui: $_ui
  );
}

@if $cm-include-toolbar-preview-ui {
  $_ui: "preview";
  @include extjs-toolbar-ui(
    $ui: $_ui,
    $background-color: $cm-grey-2,
    $text-line-height: 38px,
    $vertical-spacing: 2px,
    $separator-color: $cm-darkgrey
  );
  @include cm-toolbar-ui(
    $ui: $_ui,
    $used-horizontal-spacing: 8px,
    $used-vertical-spacing: 2px,
    $additional-padding: 0 6px 0 0
  );
}

@if $cm-include-toolbar-footer-ui {
  $_ui: "footer";
  // The footer ui for toolbars is already included by Sencha
  @include cm-toolbar-ui(
    $ui: $_ui,
    $box-shadow: $_cm-toolbar-footer-box-shadow,
    $force-border: true,
    $used-border-width: $toolbar-footer-border-width
  );
}

@if $cm-include-toolbar-embedded-footer-ui {
  $_ui: "embedded-footer";
  @include extjs-toolbar-ui(
    $ui: $_ui,
    $background-color: transparent,
    $horizontal-spacing: 0,
    $vertical-spacing: 0,
    $separator-horizontal-margin: 0,
    $separator-vertical-margin: 0
  );
  @include cm-toolbar-ui(
    $ui: $_ui
  );
}

@if $cm-include-toolbar-embedded-footer-grid-100-ui {
  $_ui: "embedded-footer-grid-100";
  @include extjs-toolbar-ui(
    $ui: $_ui,
    $background-color: transparent,
    $horizontal-spacing: $cm-grid-100,
    $vertical-spacing: $cm-grid-100,
    $separator-horizontal-margin: $cm-grid-100,
    $separator-vertical-margin: $cm-grid-100
  );
  @include cm-toolbar-ui(
    $ui: $_ui
  );
}

@if $cm-include-toolbar-header-ui {
  $_ui: "header";
  // The footer ui for toolbars is already included by Sencha
  @include cm-toolbar-ui(
    $ui: $_ui,
    $box-shadow: $_cm-toolbar-footer-box-shadow
  )
}

@if $cm-include-toolbar-header-grid-100-ui {
  $_ui: "header-grid-100";
  @include extjs-toolbar-ui(
    $ui: $_ui,
    $background-color: transparent,
    $vertical-spacing: $cm-grid-100
  );
  @include cm-toolbar-ui(
    $ui: $_ui
  );
}

@if $cm-include-toolbar-window-header-ui {
  $_ui: "window-header";
  @include extjs-toolbar-ui(
    $ui: $_ui,
    $background-color: $cm-blue-5,
    $text-color: $cm-white
  );
  @include cm-toolbar-ui(
    $ui: $_ui,
    $additional-padding: 0 $cm-grid-100,
    $used-horizontal-spacing: $toolbar-horizontal-spacing,
    $used-vertical-spacing: $toolbar-vertical-spacing
  );
}

@if $cm-include-toolbar-widget-header-ui {
  $_ui: "widget-header";
  @include extjs-toolbar-ui(
    $ui: $_ui,
    $background-color: $cm-blue-5,
    $text-color: $_cm-toolbar-widget-header-text-color,
    $text-font-weight: $_cm-toolbar-widget-header-text-font-weight,
    $vertical-spacing: $_cm-toolbar-widget-header-vertical-spacing,
    $horizontal-spacing: $_cm-toolbar-widget-header-horizontal-spacing,
    $separator-horizontal-margin: $_cm-toolbar-widget-header-separator-horizontal-margin,
    $separator-vertical-margin: $_cm-toolbar-widget-header-separator-vertical-margin
  );
  @include cm-toolbar-ui(
    $ui: $_ui,
    $cursor: $_cm-toolbar-widget-header-cursor
  );
}

@if $cm-include-toolbar-widget-header-highlighted-ui {
  $_ui: "widget-header-highlighted";
  @include extjs-toolbar-ui(
    $ui: $_ui,
    $background-color: $cm-blue-6,
    $text-color: $_cm-toolbar-widget-header-text-color,
    $text-font-weight: $_cm-toolbar-widget-header-text-font-weight,
    $vertical-spacing: $_cm-toolbar-widget-header-vertical-spacing,
    $horizontal-spacing: $_cm-toolbar-widget-header-horizontal-spacing,
    $separator-horizontal-margin: $_cm-toolbar-widget-header-separator-horizontal-margin,
    $separator-vertical-margin: $_cm-toolbar-widget-header-separator-vertical-margin
  );
  @include cm-toolbar-ui(
    $ui: $_ui,
    $cursor: $_cm-toolbar-widget-header-cursor
  );
}

// default toolbar in forms
@if $cm-include-toolbar-field-ui {
  $_ui: "field";
  @include extjs-toolbar-ui(
    $ui: $_ui,
    $background-color: transparent,
    $horizontal-spacing: $_cm-toolbar-field-horizontal-spacing,
    $separator-horizontal-margin: $_cm-toolbar-field-separator-horizontal-margin
  );
  @include cm-toolbar-ui(
    $ui: $_ui,
    $scroller-vertically-centered: $_cm-toolbar-field-scroller-vertically-centered
  )
}

@if $cm-include-toolbar-field-light-ui {
  $_ui: "field-light";
  @include extjs-toolbar-ui(
    $ui: $_ui,
    $background-color: $cm-white,
    $horizontal-spacing: $_cm-toolbar-field-horizontal-spacing,
    $separator-horizontal-margin: $_cm-toolbar-field-separator-horizontal-margin
  );
  @include cm-toolbar-ui(
    $ui: $_ui,
    $scroller-vertically-centered: $_cm-toolbar-field-scroller-vertically-centered
  )
}

@if $cm-include-toolbar-main-navigation-ui {
  $_ui: "main-navigation";
  @include extjs-toolbar-ui(
    $ui: $_ui,
    $background-color: transparent,
    $text-line-height: 42px,
    $vertical-spacing: 0,
    $horizontal-spacing: 0
  );
  @include cm-toolbar-ui(
    $ui: $_ui
  );
}

@if $cm-include-toolbar-menu-header-ui {
  $_ui: "menu-header";
  @include extjs-toolbar-ui(
    $ui: $_ui,
    $background-color: $cm-white,
    $horizontal-spacing: $cm-grid-100,
    $vertical-spacing: $cm-grid-100,
    $border-width: $_cm-toolbar-header-border-width,
    $border-color: $cm-grey-1
  );
  @include cm-toolbar-ui(
    $ui: $_ui,
    $force-border: true,
    $used-border-width: $_cm-toolbar-header-border-width
  )
}

@if $cm-include-toolbar-workarea-ui {
  $_ui: "workarea";
  @include extjs-toolbar-ui(
    $ui: $_ui,
    $text-color: $cm-font-color,
    $background-color: $cm-white,
    $text-font-weight: $cm-font-weight-bold,
    $text-line-height: 32px,
    $vertical-spacing: 4px,
    $horizontal-spacing: 3px,
    $separator-horizontal-margin: 0,
    $separator-vertical-margin: 0
  );
  @include cm-toolbar-ui(
    $ui: $_ui
  );
}

@if $cm-include-toolbar-side-ui {
  $_ui: "side";
  @include extjs-toolbar-ui(
    $ui: $_ui,
    $background-color: $cm-white,
    $horizontal-spacing: 2px,
    $separator-color: $cm-grey-9,
    $vertical-spacing: $cm-grid-100,
    $separator-horizontal-margin: 0,
    $separator-vertical-margin: 0 0 $cm-grid-100,
    $scroller-glyph-color: $cm-grey-9,
    $scroller-opacity: 1
  );
  @include cm-toolbar-ui(
    $ui: $_ui,
    $scroller-glyph-color-hover: $cm-blue-2,
    $scroller-glyph-color-disabled: $cm-grey-3,
    $scroller-glyph-font-size-pressed: $cm-glyph-font-size-100 + 2,
    $scroller-glyph-font-size-disabled: $cm-glyph-font-size-100
  );
}

@if $cm-include-toolbar-plain-ui {
  $_ui: "plain";
  @include extjs-toolbar-ui(
    $ui: $_ui,
    $background-color: transparent,
    $vertical-spacing: $cm-grid-100,
    $horizontal-spacing: 0
  );
  @include cm-toolbar-ui(
    $ui: $_ui
  );
}