@font-face {
  font-family:"cm-collaboration-icons-100";
  src:url("#{$cm-collaboration-icons-100-font-path}/cm-collaboration-icons-100.eot?3c0ca31c012114ad3822f6ee4ebf0b75");
  src:url("#{$cm-collaboration-icons-100-font-path}/cm-collaboration-icons-100.eot?#iefix") format("embedded-opentype"),
		url("#{$cm-collaboration-icons-100-font-path}/cm-collaboration-icons-100.woff?3c0ca31c012114ad3822f6ee4ebf0b75") format("woff"),
		url("#{$cm-collaboration-icons-100-font-path}/cm-collaboration-icons-100.ttf?3c0ca31c012114ad3822f6ee4ebf0b75") format("truetype");
  font-weight:normal;
  font-style:normal;
}
